.search-btn {
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 10px;
  transition: all 0.4s;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  z-index: 0;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    outline: none;
    box-shadow: none !important;
    cursor: pointer;

    &:before {
      height: 500%;
      width: 225%;
    }
  }

  &:disabled {
    background-color: #dddddd;
    border-color: #dddddd;
    cursor: not-allowed;
  }
}

.btn {
  border-radius: 5px;
  padding: 10px 25px;
  margin-bottom: 20px;
  transition: all 0.4s;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  z-index: 0;

  &.btn-success {
    background-color: #4040ff;
    border-color: #4040ff;
    color: #FAFAFA;

    &:before {
      background-color: #9090ff;
      color: #000000;
    }

    &:hover,
    &:focus,
    &:active,
    &:active:focus {
      background-color: #9090ff;
      color: #000000;
    }
  }
}
