.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 75%;
  display: inline-flex;
  height: 20vh;
  padding: 1%;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-ubicacion {
  align-self: center;
}
