.price {
    display: flex;
    width: 100%;

    &.price-detail{
        justify-content: center;
    }


    &.price-card {
        justify-content: flex-start
    }
}

.price-decimals{
    padding-top: 1%
}
