.product-container {
    width: 75%;
    display: inline-block;
    background-color: #fafafa;
    padding: 5%;
}

.product{
    display: flex
}

.product-data {
    display: block;
    width: 100%;
}

.product-detail {
    display: block;
    width: 100%;
}
